*{
    margin: 0;
    padding: 0;
 }

 :root{

    --color-primary:#eb2f64;
    --color-primary-light:#FF3366;
    --color-primary-dark:#BA265D;


   
 }
$bp-largest:75em; //1200px
$bp-large:68.75em; //1100px
$bp-medium:56.25em; //900px
$bp-medsmall:43.75em; //700px
$bp-small:37.5em; //600px
$bp-smallest:31.25em;
$bp-muchsmaller:25em; //500px



 *,
 *::before,
 *::after{

    box-sizing: inherit;
 }


 html{
     font-size: 62.5%;   // 1rem = 10px , 10px/16px =62.5%
     box-sizing: border-box;

     @media only screen and (max-width:$bp-large) {
        font-size: 50%;  
    }

   
 }

 body{
     font-family: 'Open Sans', 'sans-serif';
     font-weight: 400;
     line-height: 1.6;
     min-height: 100vh;
     color:#fff;

 }